<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="0px">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input #email matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input #password matInput type="password">
        </mat-form-field>

    <p style="text-align: center;color:red;" *ngFor="let item of errors">{{item}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="login(email.value,password.value)">Login</button>
</mat-dialog-actions>
